
.navbar {
    background-color: #cc2e38 !important; /* Navbar arka plan rengi */
    padding: 10px; /* Navbar içeriği ile arasındaki boşluk */
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.navbar-brand {
    color: #ffc12d; /* Navbar brand yazısı rengi */
    font-weight: bold; /*  kalınlığı */
    margin-right: 20px; /* yazı ile içerik arasındaki boşluk */
    transition: color 0.3s; /* Renk değişimi için geçiş süresi */
}

footer {
    background-color: #cc2e38;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease; /* Hareket geçiş efekti */
}

.card-title
{
    text-align: center;
}

.navbar {
    margin-bottom: 20px; /* Navbarla içerik arasına boşluk*/
}

.carousel-inner img {
    margin-bottom: 20px; /* Resim ile içerik arasına boşluk ekler */
    border: 3px solid #cc2e38; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) ; /* gölge */
}

footer {
    margin-top: 20px; 
    margin-bottom: 20px;
}


#navbarDropdown {
    color:  #ffc12d;
}
.navbar-brand:hover {
    color: #f6eff2;
}

.nav-item .dropdown-toggle:hover{
    color: rgb(255, 255, 255);

}
.dropdown-item{
    color: #c10909;
}

.dropdown-item:hover{
    color: #e8742c;
}


.navbar-nav {
    display: flex; /* yatayda hizala */
    align-items: center; /* Dikeyde hizala */
    justify-content: space-between; /* eşit aralıklarla yerleştir */
}

.nav-item {
    margin-right: 1px;
}
.nav-item > .nav-link {
    color: #ffc12d;
}
.nav-link:hover {
    color: #f6eff2; 
}

.searchsubmit {
    flex-grow: 1;
    text-align: center;
}

.searchsubmit form {
    display: flex;
    justify-content: center;
}

.searchsubmit form .form-control {
    margin-right: 10px; 
}

.login-btn,
.signup-btn {
    margin-left: 10px;
}
.btn:active {
    background-color: #cc2e38 !important; 
}

.btn{
    background-color: #f89526;
    color: #ffffff;
    border: none;
}

.my-sm-0:hover{
    background-color: #f89526;
    color: #ffffff;
    border-radius: 50%;
    
}
@media (max-width: 760px) { /* responsive yapma */
    .navbar-nav {
        flex-direction: column; /*dikey yapma */
    }
    .navbar-nav .nav-item {
        margin-right: 0;
        margin-bottom: 5px; 
    }
    .navbar-collapse {
        justify-content: center; 
    }
}
