/* Navbar stilleri */
*{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a {
    text-decoration: none !important; /* a etiketinin altını çizgisini kaldır */
}
.carousel-item img {
    width: 100%;
    height: auto;
}

.card {
    border: 3px solid #cc2e38; /* Kartın kenarlarına ince bir çerçeve ekle */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) ; /* Kartın altına hafif bir gölge ekle */
}

.navbar {
    background-color: #cc2e38 !important; /* Navbar arka plan rengi */
    padding: 10px; /* Navbar içeriği ile arasındaki boşluk */
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.navbar-brand {
    color: #ffc12d; /* Navbar marka yazısı rengi */
    font-weight: bold; /* Navbar marka yazısı kalınlığı */
    margin-right: 20px; /* Navbar marka yazısı ile diğer içerik arasındaki boşluk */
    transition: color 0.3s; /* Renk değişimi için geçiş süresi */
}

footer {
    background-color: #cc2e38;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease; /* Hareket geçiş efekti */
}

.card-title
{
    text-align: center;
}

.navbar {
    margin-bottom: 20px; /* Navbar ile içerik arasına boşluk ekler */
}

.carousel-inner img {
    margin-bottom: 20px; /* Resim ile içerik arasına boşluk ekler */
    border: 3px solid #cc2e38; /* Kartın kenarlarına ince bir çerçeve ekle */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) ; /* Kartın altına hafif bir gölge ekle */
}

footer {
    margin-top: 20px; /* Footer ile içerik arasına boşluk ekler */
    margin-bottom: 20px; /* Footer ile içerik arasına boşluk ekler */
}


#navbarDropdown {
    color:  #ffc12d;
}
.navbar-brand:hover {
    color: #f6eff2; /* Hover efekti için yeni renk */
}

.nav-item .dropdown-toggle:hover{
    color: rgb(255, 255, 255);

}
.dropdown-item{
    color: #c10909;
}

.dropdown-item:hover{
    color: #e8742c;
}


.navbar-nav {
    display: flex; /* Öğeleri yatayda hizalar */
    align-items: center; /* Dikeyde hizalar */
    justify-content: space-between; /* Öğeleri yatayda eşit aralıklarla dağıtır */
}

.nav-item {
    margin-right: 1px; /* Her öğe arasına sağdan boşluk bırakma */
}
.nav-item > .nav-link {
    color: #ffc12d;
}
.nav-link:hover {
    color: #f6eff2; /* Üzerine gelindiğinde metin rengi */
}

.searchsubmit {
    flex-grow: 1;
    text-align: center;
}

/* Center the search input and button */
.searchsubmit form {
    display: flex;
    justify-content: center;
}

.searchsubmit form .form-control {
    margin-right: 10px; /* Adjust spacing between input and button */
}

.login-btn,
.signup-btn {
    margin-left: 10px;
}
.btn:active {
    background-color: #cc2e38 !important; /* Tıklama rengini istediğiniz renge ayarlayın */
}

.btn{
    background-color: #f89526;
    color: #ffffff;
    border: none;
}

.btn:hover{
    background-color: #f89526;
    color: #ffffff;
    border-radius: 50%;
    
}
body{
    background-color: #ffffff;
    /* background-size: cover; Resmi ekran boyutuna sığdır */
    /* background-position: center; Resmi ortala */
    /* background-repeat:repeat; */
}

.card:hover {
    transform: translateY(-10px); /* Kartı yukarı doğru 5 piksel kaydır */
    transition: transform 0.3s ease; /* Hareketi yumuşatmak için geçiş efekti ekle */
}


@media (max-width: 767.98px) { /* Küçük ekranlar için */
    .navbar-nav {
        flex-direction: column; /* Öğeleri dikey hale getir */
    }
    .navbar-nav .nav-item {
        margin-right: 0;
        margin-bottom: 5px; /* Öğeler arası boşluk */
    }
    .navbar-collapse {
        justify-content: center; /* Öğeleri ortala */
    }
}

