*{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a {
    text-decoration: none !important;
}
.carousel-item img {
    width: 100%;
    height: auto;
}

.card {
    border: 3px solid #cc2e38; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) ; 
}

.navbar {
    background-color: #cc2e38 !important;
    padding: 10px; 
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.navbar-brand {
    color: #ffc12d; 
    font-weight: bold; 
    margin-right: 20px; 
    transition: color 0.3s; 
}

footer {
    background-color: #cc2e38;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease; 
}

.card-title
{
    text-align: center;
}

.navbar {
    margin-bottom: 20px;
}

.carousel-inner img {
    margin-bottom: 20px; 
    border: 3px solid #cc2e38;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) ;
}

footer {
    margin-top: 20px; 
    margin-bottom: 20px; 
}


#navbarDropdown {
    color:  #ffc12d;
}
.navbar-brand:hover {
    color: #f6eff2;
}

.nav-item .dropdown-toggle:hover{
    color: rgb(255, 255, 255);

}
.dropdown-item{
    color: #c10909;
}

.dropdown-item:hover{
    color: #e8742c;
}


.navbar-nav {
    display: flex; /* yatayda*/
    align-items: center; /* dikeyde*/
    justify-content: space-between; /* esit yerlestir*/
}

.nav-item {
    margin-right: 1px;
}
.nav-item > .nav-link {
    color: #ffc12d;
}
.nav-link:hover {
    color: #f6eff2;
}

.searchsubmit {
    flex-grow: 1;
    text-align: center;
}

.searchsubmit form {
    display: flex;
    justify-content: center;
}

.searchsubmit form .form-control {
    margin-right: 10px;
}

.login-btn,
.signup-btn {
    margin-left: 10px;
}
.btn:active {
    background-color: #cc2e38 !important;
}

.btn{
    background-color: #f89526;
    color: #ffffff;
    border: none;
}

.btn:hover{
    background-color: #f89526;
    color: #ffffff;
    border-radius: 50%;
    
}
body{
    background-color: #ffffff;

}

.card:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease; 
}


@media (max-width: 767.98px) { 
    .navbar-nav {
        flex-direction: column; /* dikey */
    }
    .navbar-nav .nav-item {
        margin-right: 0;
        margin-bottom: 5px;
    }
    .navbar-collapse {
        justify-content: center;
    }
}

