* {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    background-color:#e8f5ff ;
}

.container {
    background-color: #ffc12d;
    box-shadow: 0 0 100px rgba(10, 10, 10, 100);
    max-width: 600px;
    margin: 0 auto;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}


input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


.navbar {
    background-color: #cc2e38 !important; 
    padding: 10px; 
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.navbar-brand {
    color: #ffc12d; 
    font-weight: bold; 
    margin-right: 20px; 
    transition: color 0.3s; 
}

footer {
    background-color: #cc2e38;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease; 
}

.card-title
{
    text-align: center;
}

.navbar {
    margin-bottom: 20px; 
}

.carousel-inner img {
    margin-bottom: 20px; 
    border: 3px solid #cc2e38; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) ;
}

footer {
    margin-top: 20px; 
    margin-bottom: 20px;
}


#navbarDropdown {
    color:  #ffc12d;
}
.navbar-brand:hover {
    color: #f6eff2;
}

.nav-item .dropdown-toggle:hover{
    color: rgb(255, 255, 255);

}
.dropdown-item{
    color: #c10909;
}

.dropdown-item:hover{
    color: #e8742c;
}


.navbar-nav {
    display: flex; /* yatay*/
    align-items: center; /* dikey */
    justify-content: space-between; /* esit dagit */
}

.nav-item {
    margin-right: 1px;
}
.nav-item > .nav-link {
    color: #ffc12d;
}
.nav-link:hover {
    color: #f6eff2;
}

.searchsubmit {
    flex-grow: 1;
    text-align: center;
}

.searchsubmit form {
    display: flex;
    justify-content: center;
}

.searchsubmit form .form-control {
    margin-right: 10px; 
}

.login-btn,
.signup-btn {
    margin-left: 10px;
}
.btn:active {
    background-color: #cc2e38 !important; 
}

.btn{
    background-color: #f89526;
    color: #ffffff;
    border: none;
}

.my-sm-0:hover{
    background-color: #f89526;
    color: #ffffff;
    border-radius: 50%;
    
}