*{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a{
    text-decoration: none;
}
img{

    width:100 px;
    height:100 px;
}
body {
    background-color:#e8f5ff ; /* Arka plan rengi */
}/* Kartların genel stili */
.card {
    margin-bottom: 20px;
    border: 1px solid #ddd; /* Kenarlık */
    border-radius: 10px; /* Köşeleri yuvarlak yap */
    transition: box-shadow 0.3s; /* Geçiş efekti */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Kartın üzerine gelindiğinde gölge efekti */
}

.card-title {
    font-size: 1.2rem; /* Başlık font boyutu */
}

.card-text {
    font-size: 1rem; /* Metin font boyutu */
}

/* Favori butonlarının stilini düzenleme */
.btn-primary,
.btn-danger {
    margin-top: 10px;
    width: 100%; /* Buton genişliği */
}

.btn-danger {
    background-color: #dc3545; /* Kırmızı renk */
    border-color: #dc3545; /* Kenarlık rengi */
}

/* Butonlara hover efekti */
.btn-primary:hover,
.btn-danger:hover {
    opacity: 0.8;
}
